* {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.clicked-patient{
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.patient-wrapper {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
  margin-top: 15px;
  font-size: 15px;
}

.patient-name {
  font-style: italic;
  font-weight: bold;
}

.email {
  font-size: x-small;
}



