#dashboard-wrapper {
  display: flex;
  overflow: hidden;
  height: 100vh;
  margin-top: -58.9583px;
  padding-top: 58.9583px;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

#main-board, #patientslist {
  overflow: auto;
  height: auto;
  padding: .5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

#patientslist {
  flex-basis: 15rem;
}

#main-board {
  flex: 1;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height:5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
  height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

